@import "/app/styles/global";

.Container {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $padding * 10;
  padding: $padding * 2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

  a {
    text-decoration: none;
    color: black;
  }

  &__Group {
    display: flex;
    gap: $padding * 4;
  }
}

.Body {
  padding: $padding * 4;
  flex-grow: 1;
}

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $padding * 30;
  padding: $padding * 2;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;

  a {
    text-decoration: none;
    color: black;
  }

  &__Group {
    display: flex;
    gap: $padding * 4;
  }
}
