@import "/app/styles/global";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: $padding * 2;
  //border-bottom: 1px solid black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
